causal-conv1d==1.4.0
einops==0.8.0
fsspec==2024.9.0
huggingface-hub==0.25.0
mamba-ssm==2.2.2
msgpack==1.1.0
ndindex==1.8
ninja==1.11.1.1
numexpr==2.10.1
numpy==1.26.2
pandas==2.2.2
py-cpuinfo==9.0.0
python-dateutil==2.9.0.post0
pytz==2024.2
regex==2024.9.11
safetensors==0.4.5
six==1.16.0
tables==3.9.2
tokenizers==0.19.1
tqdm==4.66.5
transformers==4.44.2
tzdata==2024.1
